.jackpot__form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .jackpot__form-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
