<c-carousel
  [interval]="0"
  class="carousel"
  [animate]="false"
  transition="crossfade"
>
  <c-carousel-inner>
    <c-carousel-item
      *ngFor="let slide of slides"
      class="carousel__slide-container"
    >
      <img
        [src]="slide.src"
        alt="{{ slide.title }}"
        class="carousel__slide"
        loading="lazy"
      />
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control
    [routerLink]
    caption="Previous"
    direction="prev"
  ></c-carousel-control>
  <c-carousel-control
    [routerLink]
    caption="Next"
    direction="next"
  ></c-carousel-control>
</c-carousel>
