@import "../../../assets/styles/main.scss";

.TEST {
  margin: 30px;
}

.jackpot-form__team-container {
  width: 300px;
  border-radius: 15px 15px 0px 0px;
  background: $white-color;
}

.jackpot-form__team-container-image {
  max-width: 301px;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

.jackpot-form__team-inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.jackpot-form__team-inputs-button {
  background-color: $secondary-color;
  color: $primary-text;
  font-weight: bold;
}

.jackpot-form__title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: $primary-text-dark;
  margin: 10px auto;
}
