<form autocomplete="off" [formGroup]="form">
  <div class="bet-card">
    <div class="bet-card__header">
      <img
        class="bet-card__header-image"
        src="../../../assets/wcLogo/WC-logo.svg"
        alt="Certant cup logo"
      />
      <div class="bet-card__header-info">
        <span class="bet-card__header-info-phase">{{ bet.partido.fase }}</span>
        <span class="bet-card__header-info-date">{{
          bet.partido.fecha | date: "dd/MM/yy HH:mm"
        }}</span>
      </div>
    </div>
    <div class="bet-card__content">
      <div class="bet-card__content-match">
        <div class="bet-card__content-match-team">
          <img
            class="bet-card__content-match-team-flag"
            src="{{ bet.partido.resultadoReal.fotoLocal }}"
            alt="local team flag"
          />
          <div class="bet-card__content-match-team-name">
            {{ bet.partido.resultadoReal.nombreLocal }}
          </div>
          <mat-form-field class="bet-card__content-match-team-form-field">
            <input
              class="bet-card__content-match-team-form-field__input"
              matInput
              type="number"
              formControlName="golesLocal"
            />
          </mat-form-field>
        </div>
        <div>vs</div>
        <div class="bet-card__content-match-team">
          <img
            class="bet-card__content-match-team-flag"
            src="{{ bet.partido.resultadoReal.fotoVisitante }}"
            alt="visit team flag"
          />
          <div class="bet-card__content-match-team-name">
            {{ bet.partido.resultadoReal.nombreVisitante }}
          </div>
          <mat-form-field class="bet-card__content-match-team-form-field">
            <input
              class="bet-card__content-match-team-form-field__input"
              matInput
              type="number"
              formControlName="golesVisitante"
            />
            <mat-error>El numero maximo es 31 goles</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div
      class="bet-card__results"
      *ngIf="isMatchFinished(); else actionTemplate"
    >
      <div class="bet-card__results-title">Resultado</div>
      <div>
        <span>{{ bet.partido.resultadoReal.golesLocal }}</span
        >-<span>{{ bet.partido.resultadoReal.golesVisitante }}</span>
      </div>
      <div [ngSwitch]="bet.resultadoUsuario?.resultadoCheck">
        <div *ngSwitchCase="bet.resultadoUsuario?.resultadoCheck === 1">
          <img
            class="bet-card__results-icon"
            src="../../../assets/icons/cross.svg"
            alt="Resultado icon"
          />
          <span>Fallaste</span>
        </div>
        <div *ngSwitchCase="bet.resultadoUsuario?.resultadoCheck === 2">
          <img
            class="bet-card__results-icon"
            src="../../../assets/icons/tick.svg"
            alt="Resultado icon"
          />
          <span>Acertaste el ganador</span>
        </div>
        <div *ngSwitchCase="bet.resultadoUsuario?.resultadoCheck === 2">
          <img
            class="bet-card__results-icon"
            src="../../../assets/icons/flame.svg"
            alt="Resultado icon"
          />
          <span>Acertaste un pleno!</span>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #actionTemplate>
  <button
    class="bet-card__results-button"
    (click)="changeBet()"
    mat-raised-button
  >
    Apostar
  </button>
</ng-template>
