@import "../../../assets/styles/main.scss";

.bet-card {
  background: $white-color;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 300px;
  margin-bottom: 20px;
}

.bet-card__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

.bet-card__header-image {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.bet-card__header-info {
  font-weight: bold;
  color: $primary-text-dark;
  display: flex;
  flex-direction: column;
  &-date {
    font-size: 12px;
    color: $secondary-text-grey;
  }
}

.bet-card__content-match {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bet-card__content-match-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bet-card__content-match-team-flag {
  height: 75px;
  width: 100px;
}

.bet-card__content-match-team-name {
  text-align: center;
}

.bet-card__content-match-team-form-field {
  width: 60px;
}

.bet-card__results {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.bet-card__results-title {
  font-weight: bold;
  color: $primary-text-dark;
}

.bet-card__results-icon {
  height: 25px;
  width: auto;
  margin-right: 5px;
}

.bet-card__results-button {
  width: 100px;
  background: $secondary-color;
  color: $primary-text;
  align-self: center;
  margin-bottom: 15px;
}


.bet-card__content-match-team-form-field__input{
  text-align: center;
}