<div class="bet-card">
  <div class="bet-card__header">
    <img
      class="bet-card__header-image"
      src="../../../assets/wcLogo/WC-logo.svg"
      alt="Certant cup logo"
    />
    <div class="bet-card__header-phase">Fase de Grupos</div>
  </div>
  <div class="bet-card__content">
    <div class="bet-card__content-match">
      <div class="bet-card__content-match-team">
        <img
          class="bet-card__content-match-team-flag"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Flag_of_Ethiopia_%281996%E2%80%932009%29.svg/360px-Flag_of_Ethiopia_%281996%E2%80%932009%29.svg.png"
          alt="local team flag"
        />
        <div class="bet-card__content-match-team-name">Etiopia</div>
      </div>
      <div>vs</div>
      <div class="bet-card__content-match-team">
        <img
          class="bet-card__content-match-team-flag"
          src="https://upload.wikimedia.org/wikipedia/commons/8/89/Flag_of_Antigua_and_Barbuda.svg"
          alt="visit team flag"
        />
        <div class="bet-card__content-match-team-name">Etiopia</div>
      </div>
    </div>
    <div class="TU APUESTA A LA DERECHA">MI APUESTA</div>
  </div>
  <div class="bet-card__results">RESULTADO ACERTASTE?</div>
</div>
