<div class="card__container">
  <mat-card class="card" *ngFor="let match of matches">
    <mat-card-header class="card__header">
      <div mat-card-avatar class="card__header-image-container">
        <img
          onerror="src='../../../assets/images/fallback.png'"
          class="card__header-image"
          src="../../../assets/wcLogo/WC-logo.svg"
          alt="wc logo"
        />
      </div>
      <mat-card-title class="card__header-title">{{
        match.fase
      }}</mat-card-title>
      <mat-card-subtitle class="card__header-subtitle">{{
        match.estadio
      }}</mat-card-subtitle>
    </mat-card-header>
    <div class="card__match-container">
      <div class="card__match-container-team">
        <img
          onerror="src='../../../assets/images/fallback.png'"
          class="card__match-container-team-flag"
          src="{{ match.resultadoReal.fotoLocal }}"
          alt="Bandera Equipo Local"
        />
        <div class="card__match-container-team-name">
          {{ match.resultadoReal.nombreLocal }}
        </div>
        <div
          *ngIf="match.resultadoReal.golesLocal != null"
          class="card__match-container-team-result"
        >
          {{ match.resultadoReal.golesLocal }}
        </div>
      </div>
      <div>vs</div>
      <div class="card__match-container-team">
        <img
          onerror="src='../../../assets/images/fallback.png'"
          class="card__match-container-team-flag"
          src="{{ match.resultadoReal.fotoVisitante }}"
          alt="Bandera Equipo Local"
        />
        <div class="card__match-container-team-name">
          {{ match.resultadoReal.nombreVisitante }}
        </div>
        <div
          *ngIf="match.resultadoReal.golesVisitante != null"
          class="card__match-container-team-result"
        >
          {{ match.resultadoReal.golesVisitante }}
        </div>
      </div>
    </div>
    <mat-card-content class="card__info-container">
      <div class="card__date">{{ match.fecha | date: "dd/MM/yy HH:mm" }}</div>
      <div class="card__status">Estado de las apuestas: {{ match.estado }}</div>
      <ng-container *ngIf="match.fueApostado === true">
        <div class="card__info-bet-made">Apostaste por este partido</div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions
      class="card__action-container"
      *ngIf="match.estado === 'Abierta'"
    >
      <ng-container *ngIf="match.fueApostado === false">
        <button
          class="card__action-button"
          mat-raised-button
          (click)="openDialog(match)"
        >
          Apostar
        </button>
      </ng-container>
      <ng-container *ngIf="match.fueApostado === true">
        <button
          class="card__action-button--bet-made"
          mat-raised-button
          (click)="openDialog(match)"
        >
          Cambiar Apuesta
        </button>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
