<div class="login-form__container">
    <div class="login-form__selection">
      <img class="login-form__logo" src="../../../../assets/logo/CERTANT.svg" alt="Certant logo" />
      <div class="login-form__selection-text">
        <h3>Certant Cup 2022</h3>
        <p>
          Informate sobre los próximos partidos del mundial Qatar 2022 y ganá!
        </p>
      </div>
      <div class="login-form__selection-button-container">
        <button class="login-form__selection-button" mat-raised-button (click)="openForm()">
          Ingresar
        </button>
      </div>
    </div>
  </div>