.mat-dialog-container{
    background: red !important;
}

.login-fom__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__image-header {
  max-height: 250px;
  width: auto;
}
