<div class="match-bet__container" *ngIf="match">
    <form autocomplete="off" [formGroup]="form">
      <div class="match-bet__match-vs">
        <div class="match-bet__match-vs-team">
          <img
          onerror="src='../../../assets/images/fallback.png'"
            class="match-bet__match-vs-team-flag"
            src="{{ match.partido.resultadoReal.fotoLocal }}"
            alt="Bandera Equipo Local"
          />
          <div class="match-bet__match-vs-team-name">
            {{ match.partido.resultadoReal.nombreLocal }}
          </div>
          <div class="match-bet__match-vs-team-input">
            <mat-form-field
              class="match-bet__match-vs-team-input-field"
              appearance="fill"
            >
              <mat-label class="match-bet__match-vs-team-input-label"
                >Local</mat-label
              >
              <input
                formControlName="golesLocal"
                type="number"
                matInput
                min="0"
                max="31"
              />
              <mat-error>{{ getErrorLocal() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="match-bet__match-vs-text">vs</div>
        <div class="match-bet__match-vs-team">
          <img
          onerror="src='../../../assets/images/fallback.png'"
            class="match-bet__match-vs-team-flag"
            src="{{ match.partido.resultadoReal.fotoVisitante }}"
            alt="Bandera Equipo Visitante"
          />
          <div class="match-bet__match-vs-team-name">
            {{ match.partido.resultadoReal.nombreVisitante }}
          </div>
          <div class="match-bet__match-vs-team-input">
            <mat-form-field
              class="match-bet__match-vs-team-input-field"
              appearance="fill"
            >
              <mat-label>Visitante</mat-label>
              <input
                formControlName="golesVisitante"
                type="number"
                matInput
                min="0"
                max="31"
              />
              <mat-error>{{ getErrorVisitante() }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="match-bet__button-container">
        <button class="match-bet__button" (click)="submitBet()" mat-raised-button>
          Apostar
        </button>
      </div>
    </form>
    <div class="match-bet__info">
      <div class="match-bet__info-stadium">{{ match.partido.estadio }}</div>
      <div class="match-bet__info-date">
        {{ match.partido.fecha | date: "dd/MM/yy HH:mm" }}
      </div>
    </div>
  </div>