$primary-color: #151515;
$secondary-color: #3ab795;
$white-color: #eef0f2;
$blue-color: #040f5e;

$primary-text: #eef0f2;
$accent-text: #3ab795;
$primary-text-dark: #2c2c2c;
$secondary-text-grey: #999999;
$secondary-text-dark-grey: #727272;

$success-alert: #040f5e;
$error-alert: #df2935;
