<div class="my-account__container">
  <div class="myaccount-bet-card">
    <div class="myaccount-bet-card-title">Tu apuesta por el Goleador</div>
    <div class="myaccount-bet-card-scorer">
      {{ jackpot.jugadorGoleador }} {{ jackpot.equipoJugadorGoleador }}
    </div>
  </div>

  <div class="myaccount-champion-card">
    <div class="myaccount-champion-card-title">Tu apuesta por el Campeón</div>
    <div class="myaccount-champion-card-bet">
      {{ jackpot.equipoCampeon }}
    </div>
  </div>
</div>
